
<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link">QUERY METEO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/Home" routerLinkActive="active-menu">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/CurrentWea"  routerLinkActive="active-menu">ATTUALE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/FiveDays"   routerLinkActive="active-menu">5D/3H</a>
    </li>
 <!-- 
    <li class="nav-item">
      <a class="nav-link" routerLink="/Citta"  routerLinkActive="active-menu">INFO CITTÀ</a>
    </li>
  -->    
  </ul>
</nav>


<div>
  <router-outlet> </router-outlet>
</div>