<div class="p-2 border align-self-center">
    <div class="container-sm bg-light text-dark text-center">
      <h1>QUERY DI OpenWeatherMap</h1>
      <p class="lead">In questo sito potrai ricercare quello che piu desideri.</p>
    </div>
    <img src="" class="mx-auto d-block"  width="1400" height="700">
  </div> 
  <div class="p-2 border align-self-center bg-dark text-white">
    <h6>Proprietario del Sito: Molodduwa Andri </h6>
    <h6>Sono state fatte delle Query sfruttando il protocollo OAuth di OpenWeatherMap</h6>
    <h6>Bisogno di aiuto? Chiama il nostro Centro Assistenza: +39 3473472023</h6>
  </div>
