<div class="p-2 border align-self-center">
    <div class="container-sm  text-dark text-center">
      
    <div class="container text-center mt-5 ">
      <div class="description">
          <h1>Benvenuto alla Pagina di Ricerca Meteo </h1>
          <p class="lead"> Questa pagina ti consente di ottenere le previsioni meteo dettagliate per la tua città o qualsiasi altra città/comune/paese desideri. Basta inserire il nome della città nel campo di ricerca e premere "Cerca" per visualizzare le informazioni meteo aggiornate.</p>
          
      
          <p class="lead"> Speriamo che troverai questa pagina utile per ottenere le informazioni meteo di cui hai bisogno. Buona consultazione!</p>
      </div>
      
    </div>
  </div> 
  <div class="p-2 border align-self-center bg-light fixed-bottom">
    <h6>Proprietario del Sito: Molodduwa Andri </h6>
    <h6>Sono state fatte delle Query sfruttando il protocollo OAuth di OpenWeatherMap</h6>
    <h6>Bisogno di aiuto? Chiama il nostro Centro Assistenza: +39 3473472023</h6>
  </div>
